﻿<head>
    <title></title>
    <link href="http://cdn.syncfusion.com/13.1.0.21/js/web/flat-azure/ej.web.all.min.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"> </script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"> </script>

    <script src="http://cdn.syncfusion.com/13.1.0.21/js/web/ej.web.all.min.js" type="text/javascript"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js" type="text/javascript"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js" type="text/javascript"></script>

    <style type="text/css">
        .control {
            padding-left: 10px;
            height: 680px !important;
        }

        .content-container-fluid > :first-child.row {
            width: 100% !important;
        }

        .cols-sample-area {
            min-width: 800px !important;
            min-height: 706px !important;
            width: 100% !important;
        }
    </style>
</head>
<body>
    <div>

        <!-- Creating a div tag which will act as a container for ejReportViewer widget.-->
        <div style="height: 650px;width: 950px;min-height:404px;" id="viewer"></div>

        <!-- Setting property and initializing ejReportViewer widget.-->
        <script type="text/javascript">
            function gup(name, url) {
                if (!url) url = location.href
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&#]*)";
                var regex = new RegExp(regexS);
                var results = regex.exec(url);
                return results == null ? null : results[1];
            }
            $(function () {
                var type = null;
                var startDate = null;
                var endDate = null;               
                type = gup('reportType', window.location.search);
                if (type == null) type = "Monthly";
                var param = '?reportType='+type;
                startDate = gup('startDate', window.location.search);
                endDate = gup('endDate', window.location.search);
                if (startDate != null) param = param + '&startDate=' + startDate;
                if (endDate != null) param = param + '&endDate=' + endDate;
             
                var reportRDLC = 'GrossAbsorption-'+ type +'.rdlc';          

                $(function () {
                    var reportdata;
                    var auth = btoa('staff@sigma.com:sigma123');
                    $.ajax({
                        type: "GET",
                        url: 'http://localhost:3000/report/gross_absorption.json' + param,
                        dataType: 'json',
                        processData: false,
                        crossDomain: true,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', auth);
                        },
                        headers: {
                            "Authorization": auth
                        },
                        data: { user: { email: 'staff@sigma.com', password: 'sigma123' } },
                        success: function (result) {
                            reportdata = result.results
                            var dataManger = ej.DataManager(reportdata);
                            var query = ej.Query().select("date", "sq", "type");
                            var reportResult = dataManger.executeLocal(query);


                            $("#viewer").ejReportViewer({
                              reportServiceUrl: "/api/ReportApi",
                              processingMode: ej.ReportViewer.ProcessingMode.Local,
                              reportPath: '~/App_Data/'+reportRDLC,
                              dataSources: [{
                                  value: reportResult,
                                  name: "list"
                              }]
              });
                        },
                        error: function (result) {
                            alert("error" + result.responseText);
                        }
                    });
                });

              
            });
        </script>
    </div>
</body>
</html>